
  <nav>
    <ul class="nav-title">
      <li><a >SubEditor</a></li>
    </ul>
    <ul>
	    <li>
	    	<b></b>
	    </li>
    </ul>
    <ul>
	    <li>
	  
	    </li>
    </ul>
    <ul>
	    <li>
	    	<b>download</b>
	    </li>
    </ul>
  </nav>


    </ul>
  </div>

<div class="container">
	<div class="left-container" id="video-container">
		<div class="banner" id="banner-video">
			<input id="uploadVideo" type="file"  accept="video/*" hidden>
			<a id="addVideo" onclick="addVideo()">Open Video</a> 
		</div>
		<video id="video" controls ontimeupdate="updateTime(this)"" >
		</video> 
	</div>
	
	<div class="right-container">
		<div class="banner">
			<input id="uploadFile" type="file" hidden>
			<a id="addText" onclick="addText()" >Upload Text</a>
		</div>
		<div id="contentDiv"  class="scroll">
		<ol id="selectable" >
			
		</ol>
		</div>
	</div>

</div>


<div id="row2" class="container">
	<div id="timeLine" class="left-container">
		<p class="info" id="showTime">
		</p>
		<p class="info">
			Keep clicking the text element during the period you want to add subtitle  in 
		</p>
	</div>
	
	<div id="setting" class="right-container">
		Setting
		<br>
		<br>
		<a>Color</a>
		<select id="color" >
		  <option value="red">red</option>
		  <option value="black">black</option>
		  <option value="white">white</option>
		  <option value="yellow">yellow</option>
		</select>
		<a>Font</a>
		<select id="font" >
		  <option value="Arial">Arial</option>
		  <option value="Bold">Bold</option>
		</select>
		
		<a>Size</a>
		<select id="size" >
		  <option value="14">14</option>
		  <option value="12">12</option>
		  <option value="10">10</option>
		  <option value="8">8</option>
		</select>
		<a>Position</a>
		<select id="position" >
		  <option value="bottom">bottom</option>
		  <option value="top">top</option>
		  <option value="left">left</option>
		  <option value="right">right</option>
		</select>

	</div>

</div>
