
  <nav>
    <ul class="nav-title">
      <li><a >SubEditor</a></li>
    </ul>
    <ul>
	    <li>
	    	<b>+Video</b>
	    </li>
    </ul>
    <ul>
	    <li>
	  
	    </li>
    </ul>
    <ul>
	    <li>
	    	<b>download</b>
	    </li>
    </ul>
  </nav>


    </ul>
  </div>

<div class="container">
	<div class="left-container">
		<video  controls>
			  <source src="movie.mp4"  type="video/mp4">
			  <track kind="subtitles" label="English" src="simple.vtt" srclang="en" default>
			  <track src="subtitles.vtt" label="French" kind="subtitles" srclang="fr" >
			  <track src="subtitles.vtt" label="Germany" kind="subtitles" srclang="fr" >
		</video>
	</div>
	
	<div class="right-container">
		<div class="banner">
			<input id="uploadFile" type="file" hidden>
			<a id="addText" onclick="addText()" >Upload Text</a>
			
		</div>
		<div id="contentDiv" class="scroll">
		
			<p id="content">
					ddgs<br>
					ddgs<br>
					ddgs<br>
					ddgs<br>
					ddgs<br>
					ddgs<br>
					ddgs<br>
					ddgs<br>
					ddgs<br>
					ddgs<br>
					ddgs<br>
					ddgs<br>
					ddgs<br>
					ddgs<br>
					ddgs<br>
					ddgs<br>
					ddgs<br>
			</p>
		</div>
	</div>

</div>


<div id="row2" class="container">
	<div id="timeLine" class="left-container">
		time 
	</div>
	
	<div id="setting" class="right-container">
		setting
	</div>

</div>
